name: PyPI Release
on:
  release:
    types: [ created ]
jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          poetry install
      - name: Build and publish
        run: |
          poetry build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1